rules_version = '2';
  service cloud.firestore {
    match /databases/{database}/documents {
    function isAdminUser() {
    // 管理者だけが実行できる
    // adminsコレクションのドキュメントに記載のuidを参照する
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    // 投稿データへのアクセス制限
      match /posts/{post}{
        allow read: if true;
        // ログインしているかつログインユーザーと投稿者ユーザーの一致
        allow create: if request.auth.uid != null;
        // ログインしている
        allow update: if request.auth.uid != null && request.auth.uid == resource.data.contributorUid;
        // ログインしている,かつログインユーザーと投稿者ユーザーが一致している
        allow delete: if request.auth.uid != null && request.auth.uid == resource.data.contributorUid;
      }
      // お問い合わせデータへのアクセス制限
      match /inquiries/{inquiryID=**}{
        allow read: if isAdminUser();
        allow create: if true;
        allow update: if false;
        allow delete: if isAdminUser();
      }
      // 通報データへのアクセス制限
      match /reports/{reportID}{
        allow read:	if isAdminUser();
        allow create: if true;
        allow update: if false;
        allow delete: if isAdminUser();
      }

      // 管理者データへのアクセス制限
      // 読み取りと書き取りの両方を管理者のみ可能に設定する
      match /admin/{adminID}{
        allow read, write: if isAdminUser();
      }
    }
  }